.head-img {
  height: 130rpx;
  background-image: url(https://to1.itplt.com/selfClaim/xcximage/head.png);
  background-size: 100% 100%;
}
.border-none{
  border: none !important
}
.pd-34{
  padding: 0 34rpx;
  margin: 34rpx 0;
  background: #fff;
  .blt-input-all:last-child{
    border-bottom: 0;
  }
}
.green {
  color: #019858;
}
.view-wrap{
  width: 100%;
  overflow-x: hidden;
}
//   整体页面页边距
.blt-wrap {
  box-sizing: border-box;
  padding: 0 34rpx;
  display: flex;
  flex-direction: column;
}
.imgcode {
  width: 160rpx;
  height: 68rpx;
  border-radius: 10rpx;
}
.yzm-border {
  width: 160rpx;
  height: 68rpx;
  color: #009B63;
  text-align: center;
  line-height: 68rpx;
  font-size: 24rpx;
  border: 2rpx solid #009B63;
  border-radius: 10rpx;
}
.text-red{
  color: red;
}
.border-b-0{
  border-bottom: 0;
}
//   输入框整体
.blt-input-all {
  width: 100%;
  height: 100rpx;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid rgba(238,238,238,1);
  background-color: #fff;
  // box-sizing: border-box;
  // 文字
  .left {
    width: 180rpx;
    height: 42rpx;
    align-self: flex-start;
    font-size: 30rpx;
    line-height: 42rpx;
    margin: auto auto;
    font-weight: bolder;
    color:#333;
    font-family:PingFang SC;
    // margin-left: 34rpx;
  }

  // 右边输入框
  .right {
    flex: 1;
    padding-left: 34rpx;
    height: 42rpx;
    outline: 0;
    box-shadow: 0;
    // border: 1px solid #ccc;
    // border-radius: 6rpx;
    border: none;
    color: #666 !important;
    font-size: 30rpx !important;
    text-overflow: ellipsis;
    view,
    input {
      width: 100%;
      height:42rpx;
      line-height: 42rpx;
    }
  }
}
// 最后一个输入框border-0
// 左右内边距为34rpx；
.last-input-0{
  padding:0 34rpx;
  background-color: #fff;
  border-radius: 10rpx;
  .blt-input-all:last-child{
    border-bottom: 0;
  }
}
.pl-pr-34{
  padding: 0 34rpx;
  background-color: #fff;
  border-radius: 10rpx;
}
// 大按钮
.blt-btn-lg {
  width: 100%;
  height: 90rpx;
  background-color: #00AB6C !important;
  line-height: 90rpx;
  text-align: center;
  font-size: 32rpx;
  border-radius: 10rpx;
  color: #fff;
}

// 中按钮
.blt-btn-md {
  width: 40%;
  height: 60rpx;
  background-color: #019858 !important;
  color: #fff;
  align-self: center;
}

// 字体加粗
.blt-font-bolder {
  font-weight: bolder;
}
.font-36{
  font-size: 36rpx !important;
}
.font-30{
  font-size: 30rpx !important;
}
// 字体绿色
.blt-text-0198 {
  color: #019858;
}

// 高度为0
.h-0 {
  height: 0;
  transition: all 0.3s;

  view {
    display: none;
  }
}

.pt-20 {
  padding-top: 20rpx;
}
.blt-row-between{
  display: flex;
  justify-content: space-between;
}
.blt-row-space-between {
  display: flex;
  justify-content: space-between;
  view{
    color: #00AB6C;
    font-size: 30rpx;
  }
}

.blt-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 128rpx;
  z-index: 2;
}

// 1px border
.border-b-1 {
  border-bottom: 1rpx solid #ccc;
}

// height 50rpx;
.h-50 {
  height: 100rpx !important;
  line-height: 100rpx !important;
}

.mt-33 {
  margin-top: 33rpx !important;
}
.mt-20 {
  margin-top: 33rpx !important;
}
.mt-34 {
  margin-top: 34rpx !important;
}
.mt-64 {
  margin-top: 64rpx !important;
}
.mb-20 {
  margin-bottom: 20rpx !important;
}
.mb-34 {
  margin-bottom: 34rpx !important;
}
.mt-130{
  margin-top: 130rpx;
}
.ml-20 {
  margin-left: 20rpx;
}
.pl-33{
 padding-left: 33rpx;
}
.mt-128 {
  padding-top: 128rpx;
}

.check-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(238,238,238,1);
  padding-bottom: 36rpx;
  .check-box {
    width: 33.33%;
    box-sizing: border-box;
    margin-top: 20rpx;
    margin-top: 36rpx;
  }
  span{
    margin-left: 20rpx;
    color:rgba(102,102,102,1);
    font-size:30rpx;
  }
}
checkbox-group{
  checkbox{
    background-color: transparent !important;
  }
  span{
    font-size: 30rpx;
    color: #666;
  }
}

.w-50 {
  width: 50%;
}

.choose-tabar{
  display: flex;
  height: 80rpx;
  background: linear-gradient(
    90deg,
    rgba(186, 34, 42, 1) 0%,
    rgba(186, 34, 42, 1) 0%,
    rgba(48, 83, 116, 1) 51%,
    rgba(48, 91, 110, 1) 64%,
    rgba(51, 113, 97, 1) 85%,
    rgba(53, 134, 85, 1) 100%
  );
  &-item{
    flex: 1;
    line-height: 80rpx;
    text-align: center;
    font-size: 26rpx;
    color: rgba(153, 153, 153, 1);
  }
  .select{
    font-size: 30rpx;
    color: rgba(255, 255, 255, 1);
  }
}

.header-fixed {
  position: fixed;
  width: 750rpx;
  top: 0;
  left: 0;
  z-index: 99
}

.font-26 {
  font-size: 26rpx !important;
}
.font-#666{
  color: #666  !important;
}

@font-face {
  font-family: 'iconfont';  /* project id 1248215 */
  src: url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.eot');
  src: url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1248215_d4jsn2x68i.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-size: 38rpx !important;
  font-style: normal;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-true::before {
  content: '\e70d';
}

.icon-map::before {
  content: '\e60e'
}

.icon-dian::before {
  content: '\e7a5'
}
.icon-right::before {
  content: '\e611'
}
.icon-down::before {
  content: '\e60d'
}
.icon-huaban::before {
  content: '\e616'
}
.icon-add::before {
  content: '\e64d'
}
.icon-del::before {
  content: '\e620'
}
.position-rel{
  position: relative;
}
.position-abs{
  position: absolute;
}
.rotate-90{
  transform: rotate(90deg);
  transition: all .5s;
}
.rotate--90{
  transform: rotate(-90deg);
  transition: all .5s;
}
.font-#000{
  color: #000 !important;
}
.banner-line{
  width:750px;
  height:4px;
  background:linear-gradient(90deg,rgba(186,34,42,1) 0%,rgba(186,34,42,1) 0%,rgba(48,83,116,1) 51%,rgba(48,91,110,1) 64%,rgba(51,113,97,1) 85%,rgba(53,134,85,1) 100%);
}
.mt-130{
  margin-top:130rpx;
}